// COLORS
$primary-green: #17794f;
$secondary-green: #e9f9ee;
$accent-green: #92ceac;
$primary-yellow: #936800;
$secondary-yellow: #fffbd1;
$accent-yellow: #efd36c;
$primary-purple: #793aaf;
$secondary-purple: #faf1fe;
$accent-purple: #be93e4;
$primary-orange: #803300;
$secondary-orange: #ffe8d7;
$accent-orange: #ffb381;

$white-color: #F5F5F5;
$blue-background-color: #e9f9ee;
$papaya-color: #17794f;


$dark-grey:  #F5F5F5;
$light-grey: #05595B;

$text-color: #062C30; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
